body {
  background-color: #f7f8fa;
}

.container {
  width: 1500px;
  margin: auto;
  font-family: 'Barlow', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-quarter {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.phone-image {
  width: 85%;
}

.icon {
  width: 20%;
}

.text {
  text-align: center;
  line-height: 275%;
}
