.container {
  max-width: 75%;
  margin-left: 10%;
}

.row {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(2 * (100% / 3));
}

.column-one-quarter {
  flex-basis: 25%;
}

img {
  width: 100%;
}
